
.container{
  display: flex;
}

.us-1{
  padding: 20px;
  flex: 1;
}

.us-2{
  padding: 20px;
  flex: 4;
}
body{
    padding:0;
    margin:0;
}
.header{
    display: flex;
    height: 100px;
    flex-direction: row;
}

.social-bar{
    flex: 1;
    height: 40px;
    background-color: red;
}   
