
body{
    padding:0;
    margin:0;
}

.header{
    width: 100%;
    background-color: #3498db;
    padding: 5px;
    
}


#location {
   display: block;
   float: right;
}
#location span{
    display: block;
    float: left;
}

#location img{
    width: 20px;
    height: 20px; 
    margin-right: 5px;
    display: block;
    float: left;
}
#location {
    text-decoration: none;
    font-family: 'Segoe UI';
    color: #eee;
}
.social-icon{
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
